.header{
  background-color: #004481;
  color:white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  height: 20px;
}

.logout{
  font-size: 14px;
}