.nav__container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 60px;
    width: 100%;
    background-color: white;
    color:white;
    display: flex;
    height: 40px;
    align-items: center;
    padding-left: 20px;
    z-index: 2; 

    @media all and (max-width: 500px) {
        min-height: 40px;
        height: auto;
    }
}

.nav__bc {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    @media all and (max-width: 500px) {
        flex-wrap: wrap;
    }
}

.list__item--bc {
    display: flex;
    align-items: center;
}

.list__item--bc:last-child .icon__bc {
    display: none;
}

.list__item--bc:last-child .link__bc {
    font-weight: 500;
}

.icon__bc {
    font-size: 20px; 
    color: lightgrey;
    padding: 0 10px;
    bottom: -30px;
}

.icon__search {
    font-size: 20px; 
    color: lightgrey;
}

.search__link--container {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.hover__search {
    display: none;
    color: black;
}

.search__link:hover .hover__search {
    display: block;
}