.upper__container {
  display: flex;
  flex-direction: column;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin: 10px;
  width: 410px;
  letter-spacing: -1px;
  padding-bottom: 25px;
  background-color: #fff;
    &:hover {
      box-shadow: (-2px 3px 10px 0 rgba(0, 0, 0, 0.1));
      filter: drop-shadow(5px 5px 10px rgb(156, 154, 154));
      transition: 0.5s;
  }
}

.upper-block1{
  display: flex;
  justify-content: space-between;
}

.upper__img {
  height: 140px;
  width: 140px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 25px;

}

.upper-block2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 38px;
 
}

.upper-block2__name{
  display: flex;
}

.upper__name {
  margin-right: 10px;
  font-size: 32px;
  text-align: right;
}

.upper__position{
  font-size: 24px;
  color: gray;
}

.upper-block3{
  display: flex;
  justify-content: space-between;
  margin:  0 25px 15px 25px;
  color: grey;
}

.upper__contact {
  display: flex;
  width: 360px;
  justify-content: space-between;
}

.upper__email{
  font-size: 16px;
  color: gray;
}

.upper__phone {
  font-size: 16px;
  margin-right: 15px;
}

.upper__phone{
  font-size: 16px;
}

.upper__area{
  font-size: 20px;
  margin: 0%;
}

.upper__link{
  width: 90%;
  text-align: right;
  color: #49A5E6;
  margin: -15px 0; 
}





