.box__container{
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
}

.lower__block {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.upper__block {
  padding: 120px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-line {
  width: 80%;
  border-top: 2px solid #FFFFFF;
  padding-top: 24px;
  margin-top: 0;
  opacity: 0.8;
}

.header{
  position: fixed;
  width: 100%;
  background-color: #004481;
  color:white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 1;
}

.header__title {
  font-size: 28px;
  margin: 0;
}

.logout{
  font-size: 16px;
  margin: 0 30px;;
  &:hover{
    transform: translate(5px, 0px);
    transition: 0.5s;
  }
}