.loader__container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
}

.circle {
    width: 10px;
    height: 10px;
    margin:10px;
    background-color: #004481;
    border-radius: 50%;
    animation-name: loading-circles;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes loading-circles {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;  
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }

}

.circle:first-child {
    animation-delay: 0.2s; 
}

.circle:nth-child(2) {
    animation-delay: 0.5s; 
}

.circle:nth-child(3) {
    animation-delay: 0.7s; 
}