// .upper_contact{

// }
.info_wrapper{
  width: 80vw;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px 0 40px;
  
}
.detail__img{
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  margin: 25px;
}
.card_wrapper{
  margin: 30px;
}
.detail_skills_wrapper{
 margin: 50px;
}
