.App {
  text-align: center;
}

.lower__block {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  list-style: none;
}

.card__container {
  border: 2px solid grey;
  margin: 10px;
  width: 225px;
}

.upper__block {
  display: flex;
  justify-content: center;
  align-items: center;
}